<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wb.sc"
    android:versionCode="2"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- 手机震动的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 检查网络的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 读取手机信息的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 联网的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />

    <!-- 用于评论模块分享位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 桌面图标权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" />

    <application
        android:name="com.wb.sc.app.SCApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SC.Light" >
        <activity
            android:name="com.wb.sc.mk.main.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wb.sc.mk.main.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_main"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 帖子列表 -->
        <activity
            android:name="com.wb.sc.mk.post.PostListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_post_list"
            android:screenOrientation="portrait" />

        <!-- 帖子详情 -->
        <activity
            android:name="com.wb.sc.mk.post.PostDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_post_detail"
            android:screenOrientation="portrait" />

        <!-- 物业投诉 -->
        <activity
            android:name="com.wb.sc.mk.butler.PropertyComplain"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_property_complain"
            android:screenOrientation="portrait" />

        <!-- 房屋交易 -->
        <activity
            android:name="com.wb.sc.mk.butler.HouseTradeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_property_complain"
            android:screenOrientation="portrait" />

        <!-- 物业账单 -->
        <activity
            android:name="com.wb.sc.mk.butler.PropertyBillActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_property_bill"
            android:screenOrientation="portrait" />

        <!-- 物业报修 -->
        <activity
            android:name="com.wb.sc.mk.butler.PropertyRepairsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_property_repairs"
            android:screenOrientation="portrait" />

        <!-- 物业表扬 -->
        <activity
            android:name="com.wb.sc.mk.butler.PropertyPraiseActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_property_praise"
            android:screenOrientation="portrait" />

        <!-- 扫一扫 -->
        <activity
            android:name="com.common.zxing.CaptureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_scan"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 发帖 -->
        <activity
            android:name="com.wb.sc.mk.main.PostActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_property_praise"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 个人信息 -->
        <activity
            android:name="com.wb.sc.mk.personal.PersonalInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_property_praise"
            android:screenOrientation="portrait" />

        <!-- 我的投诉 -->
        <activity
            android:name="com.wb.sc.mk.personal.MyComplaintActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_property_praise"
            android:screenOrientation="portrait" />

        <!-- 消息中心 -->
        <activity
            android:name="com.wb.sc.mk.personal.MsgCenterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_msg_center"
            android:screenOrientation="portrait" />

        <!-- 我的报修 -->
        <activity
            android:name="com.wb.sc.mk.personal.MyRepairActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_msg_center"
            android:screenOrientation="portrait" />

        <!-- 我的帖子 -->
        <activity
            android:name="com.wb.sc.mk.personal.MyForumActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_msg_center"
            android:screenOrientation="portrait" />

        <!-- 登录 -->
        <activity
            android:name="com.wb.sc.mk.personal.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_login"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>

        <!-- 注册 -->
        <activity
            android:name="com.wb.sc.mk.personal.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        
        <!-- 重置密码 -->
        <activity
            android:name="com.wb.sc.mk.personal.ResetPasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_reset_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        
        <!-- 意见反馈  -->
        <activity
            android:name="com.wb.sc.mk.personal.FeedbackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_feedbak"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >            
        </activity>
        

        <!-- ============================================= 友盟相关 ================================================== -->
        <!-- 友盟自动更新 -->
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 友盟下载服务 -->
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <!-- 消息推送组件 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.wb.sc.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="com.wb.sc.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.wb.sc.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <!-- 友盟Key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5412e894fd98c50a9701f973" >
        </meta-data>

        <!-- 友盟推送Key -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="f8ad710243962c5559eaa9160f6d4098" >
        </meta-data>

        <!-- 友盟渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="smart" />

        <activity android:name="com.wb.sc.mk.main.SentHomeActivity" >
        </activity>
        <activity android:name="com.wb.sc.mk.main.SentHomeDetialActivity" >
        </activity>
    </application>

</manifest>